<style>
    h2{color: #cc3366;}
    ul li{list-style: none; display:inline-block}
  #contain{color: #666666}
</style>
<div>
    <table  id="contain" width="1000px"> <tbody>
            <tr> <td>
            <h2 align="center">C Language </h2>
            <div><center><img src="images/c.jpg" :="" alt="" height="150" width="200"></center></div>
          <p>C is one of the most widely used programming languages of 
all time. It is robust language with rich set of built-in function and 
operators that can be used to write any complex program. Program written
 in C are efficient and fast. C language is the most widely used 
language in operating system. </p>
                </td>
                <td>
       
          <h2 align="center">C++ Language </h2>
          <div><center><img src="images/cpp.png" :="" alt="" height="150" width="200"></center></div>
          <p>It is an extension to C language developed by Bjarne 
Stroustrup. C++ is an Object Oriented programming language. It is not 
purely object oriented. All the OOPS features in C++ like Abstraction,Encapsulation,Inheritanc etc makes it more worthy
and useful for programmers. C++ can be said to be as C language with classes. </p>
         
                </td>
                <td>


          <h2 align="center">Core Java </h2>
          <div><center><img src="images/java.jpg" :="" alt="" height="150" width="200"></center></div>
          <p>Java was developed by James Ghosling, patrick naughton,Mike
 Sheridan at Sun MicroSystem.Inc in 1991. Initial name was Oak but was 
rename was Java in 1995. It is important for developing desktop 
application,web applications,mobile OS like Android,Embeded 
System,Robotics and games etc. </p>
          
                </td> <td>
          <h2 align="center">Operating System </h2>
          <div><center><img src="images/os.jpg" :="" alt="" height="150" width="200"></center></div>
          <p>Computer has many resources(hardware/software),which may be
 required to complete a task. The commonly required resources are 
input/output devices,memory,files storage space,CPU etc. It has many 
important management task like proccessor management,memory management, 
device management etc. </p>
          
                </td>
            </tr>
        </tbody>
    </table>

</div>