body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif; background-color: #FDF4DF; font-size:12px; color:#FFFFFF;
}

td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;font-size:12px;
}

th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;font-size:12px;
}
a:link {
	color:#FFFFFF; text-decoration:none;
}
a:active {
	color:#FFFFFF; text-decoration:none;
}
a:visited {
	color:#FFFFFF; text-decoration:none;
}
.yellowlink{
	color:#FFFF00;
}
.smalltext {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.smallesttext {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
}
.boldhead {

	color: #FFFFFF;
	font-weight: bold;
}

