<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>LogServ</servlet-name>
        <servlet-class>vvv.LogServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogServ2</servlet-name>
        <servlet-class>vvv.LogServ2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServ</servlet-name>
        <servlet-class>vvv.UserListServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModiServ</servlet-name>
        <servlet-class>vvv.ModiServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePass</servlet-name>
        <servlet-class>vvv.UpdatePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLoginid</servlet-name>
        <servlet-class>vvv.DeleteLoginid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>vvv.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>vvv.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServ</servlet-name>
        <url-pattern>/LogServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogServ2</servlet-name>
        <url-pattern>/LogServ2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServ</servlet-name>
        <url-pattern>/UserListServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModiServ</servlet-name>
        <url-pattern>/ModiServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePass</servlet-name>
        <url-pattern>/UpdatePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLoginid</servlet-name>
        <url-pattern>/DeleteLoginid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
