<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Checker</servlet-name>
        <servlet-class>cookiepack.Checker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogServ</servlet-name>
        <servlet-class>cookiepack.LogServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Checker</servlet-name>
        <url-pattern>/Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogServ</servlet-name>
        <url-pattern>/LogServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
